.sidebar{
    flex: 3;
    height: calc(100vh-50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    
}
::-webkit-scrollbar-thumb{
    background-color: red;
    
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarListItem{
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 15px;
}
.sidebarButton{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.sidebarButton:hover{
    background-color: rgb(182, 172, 172);
}
.sidebarHr{
    margin: 20px 0;;
}