.rightbar{
    flex:3;
    position: sticky;

}
.rightbarWrapper{
    width: 100%;
}
.birthdayContainer{
    display: flex;
}
.birthdayImg{
    height: 32px;
    width: 32px;
    padding: 10px;

}
.birthdayText{
    padding-top: 10px;
}
.rightbarAdImg{
    width: 100%;
    padding: 10px;
    border-radius: 18px;
}
.rightbarTitle{
    padding-left: 15px;
}
.rightbarFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
}