.rightbar{
    flex:3;
    position: sticky;

}
.rightbarWrapper{
    width: 100%;
}
.birthdayContainer{
    display: flex;
}
.birthdayImg{
    height: 32px;
    width: 32px;
    padding: 10px;

}
.birthdayText{
    padding-top: 10px;
}
.rightbarAdImg{
    width: 100%;
    padding: 10px;
    border-radius: 18px;
}
.rightbarTitle{
    padding-left: 15px;
}
.rightbarFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightbarFriendsName{
    padding: 0;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
}
.rightbarOnlineFriendProfile{
    position: relative;
    margin-right: 10px;
}
.rightbarOnlineProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
.rghtbarOnline{
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: lime;
    top: -2px;
    border-radius: 50px;
    right: 0;
    border: 2px solid white;
}
.rightbarUserName{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}